img {
  height: 250px;
  width: 350px;
  text-align: center;
}
body{
  text-align: center;
  background: skyblue;
}

ul {
    list-style-type: none;
}

/* Change the link color on hover */
li:hover {
    background-color: #555;
    color: white;
}
